.nav-container {
  width: 100%;
  padding: 10px auto;
  margin: 5px 0 0 0;

  .nav-list {
    color: var(--color-light-theme);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
  }

  .nav-list:hover {
    background: var(--background-color);
    border-radius: 8px;
    color: var(--color-dark-theme);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .nav-list-clicked {
    background: var(--background-color);
    color: var(--color-dark-theme);
    padding: 0 10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-decoration: none;
  }
}